.login-form{
    height: 400px;
    width: 350px;
    padding: 25px;
    /* border: 1px solid black; */
    border-radius: 15px;
    margin: 30px auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.inputfields{
    margin-bottom: 20px;
    margin-top: 20px;
}
.sign-linka{
    text-decoration: none;
   margin-left: 60px;
   font-size: 20px;
}